.container-explorar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  margin-top: 10px;
}

.container-explorar > button {
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 120px;
  justify-content: center;
  outline: inherit;
  padding: 0;
  width: 180px;
}

.container-btn-comidas-bebidas > button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 120px;
  outline: inherit;
  padding: 0;
  width: 50%;
}

.container-btn-random > button {
  align-items: center;
  background-color: #3da35d;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  height: 75px;
  justify-content: space-evenly;
  outline: inherit;
  padding: 0;
  width: 280px;
}

.container-btn-ingredient > button {
  background-color: transparent;
  border: none;
  display: flex;
  height: 133.5px;
  outline: none;
  position: absolute;
  width: 123px;
}

.container-explorar > button:nth-child( 1 ) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)) , url('../images/explorar-comida.jpg');
  background-size: cover;
}

.container-explorar > button:nth-child( 2 ) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)) , url('../images/explorar-bebidas.jpg');
  background-size: cover;
}

.container-btn-comidas-bebidas {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 290px;
  justify-content: space-between;
  margin-top: 40px;
}

.btn-ingredientes {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)) , url('../images/explorar-ingredient.jpg');
  background-size: 181px;
}

.btn-local {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)) , url('../images/explorar-area.png');
  background-size: 181px;
}

.container-btn-random {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 208px;
  justify-content: center;
}

.container-btn-random > button:hover {
  background-color: rgb(205, 50, 63);
  box-shadow: 3px 3px 5px black;
  transition: 250ms;
}

.btn-floating > img {
  object-fit: cover;
  object-position: 0 22px;
  width: 120px;
}

.container-btn-random > button > img {
  width: 56px;
}

.container-ingredients {
  display: flex;
  flex-flow: row wrap;
  height: 730px;
  justify-content: space-evenly;
  padding-bottom: 34px;
}

.container-btn-ingredient {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: flex-end;
  margin-top: 10;
  width: 130px;
}

.container-cardname {
  align-items: flex-end;
  background-color: #303030;
  box-shadow: 1px 1px 5px 1px #919291;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 90%;
}

.container-ingredients h4 {
  color: aliceblue;
  font-size: 18px;
  margin: 0;
  text-align: center;
}


.btn-floating:hover + .container-cardname {
  background-color: #2b2b2b;
  transition: 250ms;
}

.container-select {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dropdown-areas {
  background-color: #373737;
  border: 1px solid #ffffff1a;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  height: 40px;
  margin: 12px 0;
  text-align: center;
  width: 120px;
}
