body {
  background-color: #303030;
}

.container-buttons {
  align-items: center;
  display: flex;
  height: 80px;
  width: 340px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.overlay-scroll {
  position: absolute;
  align-content: flex-end;
  background: linear-gradient(269deg, #303030 11.28%, rgba(0, 0, 0, 0) 100%);
  min-width: 30px;
  height: 35px;
  left: 310px;
}

.container-buttons > button {
  background-color: #373737;
  border: 1px solid #ffffff1a;
  border-radius: 15px;
  cursor: pointer;  
  outline: inherit;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  white-space: nowrap;
  height: 35px;
  font-size: 16px;
  display: flex;
  margin: 0 10px;
}

#btn-all {
  min-width: 80px;
}

.container-buttons > button:hover {
  background-color: white;
  color: black;
  transition: 500ms;
}

.container-recipes-principal {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
  width: 100%;
}

.card-recipe-principal {
  background-color: black;
  width: 150px;
  margin-bottom: 12px
}

.card-recipe-principal > img {
  border-radius: 10px;
  height: 130px;
  margin: 0;
  width: 100%;
}

.card-recipe-principal > h4 {
  align-items: flex-end;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 41.28%, rgba(0, 0, 0, 0) 56.42%);
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 130px;
  justify-content: center;
  position: absolute;
  width: 150px;
  padding: 5px;
}

.skeleton-category {
  min-width: 120px;
}

.card-recipe-skeleton {
  animation: skeleton-loading 1.5s linear infinite alternate;
  width: 150px;
  height: 130px;
  background-color: #373737;
  margin: 10px 0;
  border-radius: 10px;
}

@keyframes skeleton-loading {
  from {background-color: #373737;}
  to {background-color: #868383;}
}

@media (min-width: 370px) {
  .container-buttons::-webkit-scrollbar {
    display: none;
  }
}